<div class="w-full bg-slate-900 text-white top-0 sticky z-50 p-5">
    <div class="container w-5/6 flex justify-between mx-auto">
        <h1 class="text-center text-xl sm:text-3xl cursor-pointer" [routerLink]="['./Home']">ONLINE SHOP</h1>

        <div class="menu w-auto hidden lg:block">
            <ul class="flex gap-6 font-bold cursor-pointer">
                <li [routerLink]="['./Home/House&Kitchen']"
                    [ngClass]="{'active' : ActiveRoute === '/Home/House&Kitchen'}">House & Kitchen</li>
                <li [routerLink]="['./Home/Electronics']" [ngClass]="{'active' : ActiveRoute === '/Home/Electronics'}">
                    Electronics</li>
                <li [routerLink]="['./Home/Health&Fitness']"
                    [ngClass]="{'active' : ActiveRoute === '/Home/Health&Fitness'}">Health & Fitness</li>
                <li [routerLink]="['./Home/Computers']" [ngClass]="{'active' : ActiveRoute === '/Home/Computers'}">
                    Computers</li>
            </ul>
        </div>


        <div class="flex gap-5">
            <!-- Burger menu -->
            <div class="block lg:hidden cursor-pointer" (click)="menuOpen()" *ngIf="menu">
                <fa-icon class="text-xl" [icon]="faBars"></fa-icon>
            </div>

            <div class="block lg:hidden cursor-pointer" *ngIf="sideMenu" (click)="menuClose()">
                <fa-icon class="text-2xl" [icon]="faXmark"></fa-icon>
            </div>

            <span class="cursor-pointer text-white font-bold text-xl" routerLink="/Home/Cart">
                <!-- Shopping Cart -->
                <fa-icon class="relative ml-2" [icon]="faShoppingCart"></fa-icon>
                <span *ngIf="product"
                    class="absolute w-5 h-5 bg-red-600 rounded-xl flex justify-center items-center top-5 text-sm">{{product}}</span>
            </span>
        </div>
    </div>
</div>

<div style="height: 100vh; top: 4.5rem;" class="w-40 fixed right-0 bg-slate-900 z-20" *ngIf="sideMenu">
    <ul class="flex flex-col items-center mt-10 gap-6 font-bold cursor-pointer text-white">
        <li [routerLink]="['./Home/House&Kitchen']" [ngClass]="{'active' : ActiveRoute === '/Home/House&Kitchen'}" (click)="menuClose()">House
            & Kitchen</li>
        <li [routerLink]="['./Home/Electronics']" [ngClass]="{'active' : ActiveRoute === '/Home/Electronics'}" (click)="menuClose()">
            Electronics</li>
        <li [routerLink]="['./Home/Health&Fitness']" [ngClass]="{'active' : ActiveRoute === '/Home/Health&Fitness'}" (click)="menuClose()">
            Health & Fitness</li>
        <li [routerLink]="['./Home/Computers']" [ngClass]="{'active' : ActiveRoute === '/Home/Computers'}" (click)="menuClose()">
            Computers</li>
    </ul>
</div>