<div class="container-xl bg-slate-900 text-white p-5">
    <h1 class="text-center text-3xl mb-5 cursor-pointer" [routerLink]="['./Home']">ONLINE SHOP</h1>
    <div class="menu w-auto">
        <ul class="flex justify-evenly font-bold cursor-pointer">
            <li [routerLink]="['./Home/Home&Kitchen']" >House & Kitchen</li>
            <li [routerLink]="['./Home/Electronics']">Electronics</li>
            <li [routerLink]="['./Home/Health&Fitness']">Health & Fitness</li>
            <li [routerLink]="['./Home/Computers']">Computers</li>
        </ul>
    </div>
</div>

