<div class="container-xl bg-slate-900 text-white p-5">
    <h1 class="text-center text-3xl mb-5 cursor-pointer" [routerLink]="['./Home']">ONLINE SHOP</h1>
    <span class="absolute right-5 top-7 cursor-pointer text-white font-bold text-xl" routerLink="/Home/Cart">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <span
            class="absolute w-5 h-5 bg-red-600 rounded-xl flex justify-center items-center top-0 right-3 text-sm">{{product}}</span>
    </span>
    <div class="line w-full h-0.5 bg-gray-500 my-5"></div>
    <div class="menu w-auto">
        <ul class="flex justify-evenly font-bold cursor-pointer">
            <li [routerLink]="['./Home/Home&Kitchen']">House & Kitchen</li>
            <li [routerLink]="['./Home/Electronics']">Electronics</li>
            <li [routerLink]="['./Home/Health&Fitness']">Health & Fitness</li>
            <li [routerLink]="['./Home/Computers']">Computers</li>
        </ul>
    </div>
</div>