<div class="container w-9/12 mx-auto mt-10 flex flex-col md:flex-row">
    <div *ngFor="let item of view" class="w-full flex justify-between items-center px-28">
        <!-- Left side with image -->
        <div class="md:w-1/2 pr-0 md:pr-8">
            <img src="{{item.picture}}" alt="{{ item.name }}" class="w-full h-96 object-contain rounded-lg shadow-lg">
        </div>

        <!-- Middle Line -->
        <span class="w-0.5 h-full bg-gray-600"></span>

        <!-- Right side with details -->
        <div class="w-full md:w-1/2 mt-8 md:mt-0 flex justify-center">
            <div class="p-6 px-14 leading-10">
                <h2 class="text-4xl font-extrabold text-gray-900 mb-4">{{ item.name }} <span class="text-4xl ml-10 font-bold text-gray-800">{{ item.price }}$</span></h2>
                <p class="text-lg text-gray-700 mb-6">{{ item.description }}</p>
                <div class="flex items-center mb-4">
                    <span class="text-gray-600 mr-2">Category:</span>
                    <span class="text-sm font-semibold">{{ item.category }}</span>
                </div>
                <ul class="text-sm text-gray-600 mb-6">
                    <li class="mb-2 flex items-center">
                        <span class="ml-1">{{ item.features[0] }}</span>
                    </li>
                    <li class="mb-2 flex items-center">
                        <span class="ml-1">{{ item.features[1] }}</span>
                    </li>
                    <li class="mb-2 flex items-center">
                        <span class="ml-1">{{ item.features[2] }}</span>
                    </li>
                </ul>
                <div class="flex w-full">
                    <button (click)="addToCart(item.id)"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-2/5 py-1 px-2 rounded-full focus:outline-none focus:shadow-outline">
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="absolute bottom-5 right-5 bg-green-600 rounded-t-lg rounded-tr-lg" *ngIf="added">
    <p class="p-1 text-white">Item successfully added!</p>
    <div class="closing-line close-animation bg-red-600"></div>
</div>